.paragraph {
  user-select: none;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  line-height: 2em;
  font-size: 14px;
  font-weight: 300;

  &_textInverse {
    color: #fff;
  }

  &_300 {
    font-weight: 300;
  }

  &_500 {
    font-weight: 500;
  }
}